body {
    margin: 0px;
    /* ページ全体のmargin */
    padding: 0px;
    /* ページ全体のpadding */
    text-align: center;
    /* 下記のautoに未対応用のセンタリング */
}
#main
    {
     margin-left:auto;    /* 左側マージンを自動的に空ける */
     margin-right:auto;   /* 右側マージンを自動的に空ける */
     text-align:left;     /* 中身を左側表示に戻す */
     width:650px;         /* 幅を決定する */
    }

span#title {
    font-size: 54px;
    font-weight: bold;
}

p.text {
    font-size: 34px;
    width: 700px;
}

#home {
    width: 1040px;
    /* margin-left: 20%;
    margin-right: 20%; */
    margin-top: 50px;
    margin-left:auto;    /* 左側マージンを自動的に空ける */
    margin-right:auto;   /* 右側マージンを自動的に空ける */
    text-align:left;     /* 中身を左側表示に戻す */
}

.dtable {
    display: table;
    /* ブロックレベル要素をtableと同じように表示にする */
    word-break: break-all;
}

.dtable_c {
    display: table-cell;
    border: 2px;
    padding: 10px;
    width: 160px;
}

.dtable_text {
    display: table-cell;
    border: 2px;
    padding-left: 50px;
}

.folder {
    font-size: 24px;
    padding: 0.5em 1em;
    margin: 0.3em 0;
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
}

#plusimg {
    margin-left: 950px;

}

textarea {
    width: 600px;
    height: 108px;
    background: #eee;
    border: 1px solid #bebebe;
    font-size: 1em;
}

textarea:focus {
    background: #edf4ff;
    border: 1px solid #4881d9;
}

input[type="text"] {
    width: 600px;
    height: 36px;
    background: #eee;
    border: 1px solid #bebebe;
    font-size: 12px;
}

input[type="text"]:focus {
    background: #edf4ff;
    border: 1px solid #4881d9;
}

.menu {
    display: none;
}