.invisible{
 display: none;
}
 
a.clickToolTip{
 margin: 0;
 padding: 2px 6px;
 border-radius: 5px;
 -moz-border-radius: 5px;
 text-decoration: none;
 color: #fff;
 font-size: 12px;
}
 
p.toolTip{
    margin: 1em 0;
    padding: 0.5em 1em;
 width: 200px;
    background: #FFF;
 opacity: 0.6;
    color: #6091d3;/*文字色*/
    border-radius: 10px;/*角の丸み*/
 -moz-border-radius: 5px;
 min-height: 30px;
 top: 100px;
 left: 20px;
 position: absolute;
    font-weight: bold;
    border: solid 3px #6091d3;/*線*/
}
.box2 p {
    margin: 0; 
    padding: 0;
}
